body {
    background-color: black;
    font-family: Century Gothic;
}

.mycontainer{
    background-color: white;
    width:55%;
    margin: 0 auto 0 auto;
}

.mycontainerblack{
    color: white;
    background-color: black;
    width:55%;
    margin: 0 auto 0 auto;
}

.myimage {
    width: 100%;
}

@media only screen and (max-width: 576px) {

    .mycontainer{
        padding: 1px;
        width:100%;
    }
}