body {
    background-color: #0d0d0d;
    font-family: Century Gothic;
}

.heading {
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #0d0d0d;
}

.container {
    background-color: white;
    width: 70%;
    margin: 0 auto 0 auto;
}

.pod {
    width: 100%;
}

.background {
    background-color: white;
}

.card {
    margin: 20px;
    padding-bottom: 0.5rem;
}

.bigtext {
    font-size: 25px;
}

@media only screen and (max-width: 900px) {

    .container {
        width: 100%;
    }

}